body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.background-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h2 {
    mix-blend-mode: hard-light;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    gap: 1vw 2vw;
    font-size: 8vw;
    color: white;
    height: 100vh;
    padding: 20px;
    position: relative;
    margin: 0;
    z-index: 1;
}

.video-span {
    background-color: rgb(255 255 255 / 50%);
    min-width: 16vw;
    align-self: stretch;
    flex: 1;
}
